registry=https://nexus.intra.formi.fr/repository/npm-group/
email=admin@example.org
always-auth=true
//nexus.intra.formi.fr/repository/npm-group/:_auth="YWRtaW46YWRtaW4="
//nexus.intra.formi.fr/repository/npm-private/:_auth="YWRtaW46YWRtaW4="
